# Configuration file for Varnish Agent.
# 
# The systemd service expects the variable $DAEMON_OPTS to be set from
# this shell script fragment.
#
# See varnish-agent(1) for an overview of valid settings.

DAEMON_OPTS="-K {{ varnish_agent_secret_file }} -z http://{{ vac_server }}/api/rest/register"