#
# Combined systemd params and sysconfig file for hitch.
#

# Uncomment to have the init script start the daemon on debian/ubuntu.
START=true

# Other options, see "hitch --help" for valid arguments.
HITCH_OPTIONS="--config={{ hitch_conf_file }}"