## content of .vacrc ##
## rename to .vacrc and put in in Git repo ##

GROUP_ID {{ vac_git_hooks_group_id }}
VCL_ID {{ vac_git_hooks_vcl_id }}
USER_PASSWD {{ vac_git_hooks_user_passwd }}
VAC_LOCATION {{ vac_git_hooks_vac_location }}
FILE_NAME {{ vac_git_hooks_file_name }}